//
   Created by bluehawky on 14-10-9.
extends ../template/default
block cssExtend
    //| <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    //| <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    | <link rel="stylesheet" href="/css/animate.min.css">
    | <link rel="stylesheet" href="/css/bootstrap-markdown.min.css">
block mainbody
    div.container
        //form#articleContent(action='article.input',method='post')
        //    textarea#title(name='title',row='1',cols='20')
        //        !{title}
        //    br
        //    textarea#detail(name='detail',rows='3',cols='20')
        //        !{detail}
        //    br
        //    input(id='article_code',type='hidden',value=code)
        //    input.save(type='submit',value='保存')
        //// /.articleContent
        form
            -var t = !title
            input(name='title', type='text', placeholder='Title?',value=t)
            textarea(name='content', data-provide='markdown', rows='10')
                !{detail}
            label.checkbox
                input(name='publish', type='checkbox')
                | Publish
            hr
            button.btn(type='submit') Submit
        // /.form
    // /.container
block scriptExtend
    | <script src="/js/prettify.js"type="text/javascript"></script>
    //| <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    | <script src="/js/markdown.js"></script>
    | <script src="/js/to-markdown.js"></script>
    | <script src="/js/bootstrap-markdown.js"></script>
    | <script src="/js/jquery.hotkeys.js"></script>
